@charset "UTF-8";

@font-face{
    font-family: 'acartica';
    src: url("../img/Acratica-demo-font-FFP.otf");
}

html {
    font-size: 100%;
    background-color: #fafbfc;
}

body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: #432;
}

header{
    border-bottom: #4c4c4c solid 15px;
}

a{
    text-decoration: none;
}

#logo{
    font-family: acartica;
    font-size: 70px;
    text-decoration: none;
    color: #432;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 45px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color: #432;
}

.main-nav a:hover{
    color: #432;
}

.page-header{
    display: flex;
    justify-content: space-between;
}


.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-content{
    background-color: white;
    text-align: center;
    width: 100%;
    height: 75%;
    padding: 0 !important;
}



footer{
    background: #4c4c4c;
    text-align: start;
    padding: 50px 0;
    height: 21%;
}

footer h1{
    color: #fff;
    font-size: 45px;
    font-family: acartica;
}

footer h2{
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

#companyinfo{
    width: 60%;
}

#serviceinfo {
    width: 40%;
}

.comp-info{
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 10%;
}



.item{
    border: #432 solid 3px;
    width: 100%;
    height: 400px;
}

.item img{
    margin-top: 60px;
}

.item p{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 20px;
}
