body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: #432;
}

body h1{
    text-align: center;
    margin-top: 3%;
}

.user-chk {
  border-collapse: collapse;
  border-top: 3px solid #005128;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}  
.user-chk th {
  color: #432;
  background: #cfe6cf;
}
.user-chk th, .user-chk td {
  padding: 10px;
  border: 1px solid #ddd;
}
.user-chk th:first-child, .user-chk td:first-child {
  border-left: 0;
}
.user-chk th:last-child, .user-chk td:last-child {
  border-right: 0;
}

.input-box{
  margin-left: 18%;
  margin-top: 6%;
  height: 5%;
}

.info-input{
  margin-left: 36%;
}


.info-box{
  height: 5%;
}


table.type05 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin: 20px 10px;
}
table.type05 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
table.type05 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

